<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %c - %msg%n"/>
        </Console>

        <Routing name="RoutingAppender">
            <Routes pattern="$${ctx:testName:-startup}">

                <Route key="startup">
                    <File name="startup"
                          fileName="logs/startup.log"
                          append="false">
                        <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %c - %msg%n"/>
                    </File>
                </Route>

                <Route>
                    <File name="${ctx:testName}"
                          fileName="logs/${ctx:testName}.log"
                          append="false">
                        <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %c - %msg%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RoutingAppender"/>
        </Root>
    </Loggers>

</Configuration>