<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium UI Automation Framework">
    <test name="Sample E-Commerce App">
        <classes>
            <class name="tests.LoginPageTest"/>
            <class name="tests.ProductsDashboardTest"/>
            <class name="tests.MyCartTest"/>
            <class name="tests.PlaceOrderTest"/>
            <class name="tests.OrderTest"/>
        </classes>
    </test>
</suite>
